# General temp files
.DS_Store
*.ser
*.pyc

# Files related to Play build or usage
dist
samples-and-tests/*/test-result/

# IDE and editors
*~
.idea
nbproject
eclipse
.amateras
.settings
.classpath
.project
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml

# modules/: exclude except for core modules
war/
bin/
data/
db/
dist/
logs/
test-result/
lib/
tmp/
modules/

