#{extends 'main.html' /}
#{set title:'Modules' /}
#{set action:'modules' /}
<div id="top">
    <p class="category">Contribuido pelo comunidade</p>
</div>

<div class="wrapper">

    <div id="submenu">

        <ul class="sidemenu">
            <li class="#{if module.id == ''}selected#{/if}">
                <a href="/modules">Todos os módulos</a> <span>⬅</span>
            </li>
            <li class="#{if module.id == 'scala'}selected#{/if}">
                <a href="/modules/scala">Scala</a> <span>⬅</span>
            </li>
            <li class="#{if module.id == 'gae'}selected#{/if}">
                <a href="/modules/gae">Google App Engine</a> <span>⬅</span>
            </li>
            <li class="#{if module.id == 'pdf'}selected#{/if}">
                <a href="/modules/pdf">PDF Generation</a> <span>⬅</span>
            </li>
            <li class="#{if module.id == 'sass'}selected#{/if}">
                <a href="/modules/sass">SASS and SCSS</a> <span>⬅</span>
            </li>
            <li class="#{if module.id == 'gwt2'}selected#{/if}">
                <a href="/modules/gwt2">Google Web Toolkit</a> <span>⬅</span>
            </li>
            <li class="#{if module.id == 'morphia'}selected#{/if}">
                <a href="/modules/morphia">MongoDB</a> <span>⬅</span>
            </li>
            <li class="#{if module.id == 'search'}selected#{/if}">
                <a href="/modules/search">Simple search</a> <span>⬅</span>
            </li>
            <li class="#{if module.id == 'objectify'}selected#{/if}">
                <a href="/modules/objectify">Objectify</a> <span>⬅</span>
            </li>
        </ul>

    </div>

    <div class="wrapped wikistyle">

        <h1>${module.name} [${module.id}] módulo</h1>

        <p>${module.description.raw()}</p>

        <p><a href="${module.url}">${module.url}</a></p>
        <p>Autor: ${module.author}</p>

        <h2><a> Lançamentos que foram publicados </a></h2>

        #{if versions}
        <table>
        #{list items:versions, as:'item'}
            <tr>
                <td><strong>${module.id}-${item.version}&nbsp;#{if item.isDefault}&#9733;#{/if}</strong></td>
                <td>${item.publishedAt}</td>
                <td><a href="/modules/${module.id}-${item.version}/home">documentação </a></td>
                <td style="text-align:right">
                    <a href="http://www.playframework.org/modules/${module.id}-${item.version}.zip"> download </a>
                </td>
            </tr>
        #{/list}
        </table>
        <p>
           Para instalar este módulo, por favor, use o comando:  <strong>install</strong>
        </p>
        <pre><code>play install ${module.id}-{version}</code></pre>
        <p>
           Para instalar este módulo como uma dependência da sua aplicação, por favor, adicione este ao módulo dependencies.yml:
        </p>
        <pre><code>require:
    - play -> ${module.id} {version}</code></pre>
        <p>
          Por favor, verifique a documentação para cada versão para verificar a compatibilidade.
        </p>
        #{/if}
        #{else}
        <p>
         Não nenhuma versão publicada para este módulo. Por favor, consulte o site do projeto,
     se você deseja obter a versão anterior.
        </p>
        #{/else}
    </div>

    <div class="wrapped">
        <div id="comments">
            <h3> Comentários </h3>
            <p>
               Utilize este formulário para discutir sobre este módulo.
               Comentários que não estão em conformidade serão apagados.
            </p>

        </div>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_identifier = 'modules-${module.id}';
            var disqus_title = '${module.name} [${module.id}]';
            (function() {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = 'http://playdocja.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
    </div>

</div>
