#{extends 'main.html' /}
#{set title:'Modules' /}
#{set action:'modules' /}
#{set 'moreScripts'}
#{script src="navigation.js" /}
#{/set}
<div id="top">
    <p class="category">
        Comunidade doou
    </p>
</div>

<div class="wrapper">

    <div id="docSidebar">
        <h2> Compatibilidade de versões </h2>
        <p>
            <strong>${id}-${version}</strong>Foi testado nesta versão: <strong>${frameworkVersions}</strong>
        </p>

        <h2>Navegar</h2>
        <ul>
            <li><a href="/modules/${id}">Voltando à descrição do módulo </a></li>
            <li id="gotoc"><a href="home"> índice analítico </a></li>
        </ul>

        <h2>Conteúdo</h2>

        <div id="toc"></div>

        <h2> versão do módulo   </h2>
        <div id="bc">
            <ul>
            #{list items:versions, as:'item'}
                <li><a class="" href="/modules/${id}-${item.version}/home">${id}-${item.version}</a> #{if version == item.version}⬅#{/if}</li>
            #{/list}
            </ul>
        </div>

    </div>

    <div id="pageContent">

        <div class="wikistyle">${html.raw()}</div>

    </div>

</div>
