#{extends 'main.html' /}
#{set title:'Download' /}
<section id="top">
    <div class="wrapper">
        <h1>Pacotes prontos para usar em Linux, MacOS e Windows</h1>
    </div>
</section>
<div id="content" class="wrapper">
    <article>
        <h2> Para obter a última versão oficial </h2>
        #{if latest}
        <p>
             A última versão oficial  <strong>${latest.version}</strong> (${latest.date.format('dd/MM/yyyy')})  é
        </p>
        <table>
            <tr>
                <td><a href="${latest.url}">${latest.name}</a></td>
                <td width="200">${latest.date.format('yyyy/MM/dd', 'ja')}</td>
                <td width="100">${latest.size}M</td>
            </tr>
        </table>
        #{/if}
        #{if upcomings}
        <h2>Versões anteriores</h2>
        <p>
            Procurando por versões antigas do Play ? Você encontra algumas logo abaixo:
        </p>
        #{list upcomings, as:'upcoming'}
        <table>
            <tr>
                <td><a href="${upcoming.url}">${upcoming.name}</a></td>
                <td width="200">${upcoming.date.format('yyyy/MM/dd', 'ja')}</td>
                <td width="100">${upcoming.size}M</td>
            </tr>
            #{/list}
        </table>
        #{/if}
        <h2>Versões anteriores</h2>
        <p>
            Procurando por versões antigas do Play ? Você encontra algumas logo abaixo:
        </p>
        <table>
            #{list olders, as:'older'}
            <tr class="${older_parity}">
                <td><a href="${older.url}">${older.name}</a></td>
                <td width="200">${older.date.format('yyyy/MM/dd', 'ja')}</td>
                <td width="100">${older.size}M</td>
            </tr>
            #{/list}
        </table>
    </article>
</div>
